# ignore node dependency directories
node_modules/

# ignore log files and databases and lock files.
*.log
*.sql
*.sqlite
package-lock.json
composer.lock
wauble.zip
assets/js/footer-bundle.js
assets/js/header-bundle.js
assets/css/main.css.map
assets/css/main.css

.vscode/