# Ignore Everything
/**

# Root Configs
!.gitignore
!.gitignore.example
!.lando.yml
!composer.json
!Envoy.blade.php
!Envoy.blade.php.wpengine.example
!README.md
!auth.json
!/.rsync/
!/.rsync/exclude
!.env.example
!/config/
!/config/nginx.conf
!/config/php.ini
!/.lando/
!/.lando/**/*

# Depenedencies
vendor
node_modules

# WordPress

!/wordpress/
/wordpress/**

!/wordpress/wp-content/
/wordpress/wp-content/**

# Themes

!/wordpress/wp-content/themes/
/wordpress/wp-content/themes/**

!/wordpress/wp-content/themes/wauble/
!/wordpress/wp-content/themes/wauble/**
/wordpress/wp-content/themes/wauble/build
/wordpress/wp-content/themes/wauble/build/**
/wordpress/wp-content/themes/wauble/.env
/wordpress/wp-content/themes/wauble/vendor
/wordpress/wp-content/themes/wauble/vendor/**
/wordpress/wp-content/themes/wauble/node_modules
/wordpress/wp-content/themes/wauble/node_modules/**

# Lock Files
package-lock.json

# System Files
.DS_Store