@tailwind base;
@layer base {
  h1 {
    @apply tw-text-6xl tw-font-bold;
  }
  h2 {
    @apply tw-text-4xl tw-font-bold;
  }
  h3 {
    @apply tw-text-2xl tw-font-bold;
  }
  h4 {
    @apply tw-text-xl tw-font-bold;
  }
  a {
    @apply tw-font-bold;
  }
  /* Remove tap highlight on mobile chrome */
  html {
    -webkit-tap-highlight-color: transparent;
  }
}
