@layer utilities {
  .container {
    margin-inline: auto;

    @variant sm {
      max-width: 640px;
    }

    @variant md {
      max-width: 768px;
    }

    @variant lg {
      max-width: 1024px;
    }

    @variant xl {
      max-width: 1280px;
    }

    @variant 2xl {
      max-width: calc(1536px + 4rem);
    }
  }

  .text-step-5 {
    font-size: var(--step-5);
    line-height: 1.25;
    letter-spacing: 0rem;
    font-weight: 600;
  }

  .text-step-4 {
    font-size: var(--step-4);
    line-height: 1.25;
    letter-spacing: 0rem;
    font-weight: 600;
  }

  .text-step-3 {
    font-size: var(--step-3);
    line-height: 1.25;
    letter-spacing: 0rem;
    font-weight: 500;
  }

  .text-step-2 {
    font-size: var(--step-2);
    line-height: 1.5;
    letter-spacing: 0rem;
    font-weight: 500;
  }

  .text-step-1 {
    font-size: var(--step-1);
    line-height: 1.5;
    letter-spacing: 0rem;
    font-weight: 400;
  }

  .text-step-0 {
    font-size: var(--step-0);
    line-height: 1.5;
    letter-spacing: 0rem;
    font-weight: 400;
  }

  .text-step--1 {
    font-size: var(--step--1);
    line-height: 1.5;
    letter-spacing: 0rem;
    font-weight: 400;
  }

  .text-step--2 {
    font-size: var(--step--2);
    line-height: 1.5;
    letter-spacing: 0rem;
    font-weight: 400;
  }

  .fade-in {
    animation: fadeIn 0.5s ease forwards;
  }
}
