@import './../partials';

.areas {
    padding-top: 140px;
    padding-bottom: 140px;
    height: auto;
    position: relative;
    @include md {
        padding-top: 70px;
        padding-bottom: 100px;
    }

    .area-minor {
        max-width: 960px;

        .image-wrapper {
            margin-bottom: 30px;

            @include md {
                margin-bottom: 20px;
            }

            img {
                height: 50px;
                width: auto;
                display: block;
                margin: auto;
                z-index: 5;
                position: relative;
            }
        }

        h2 {
            font-family: $julius;
            font-size: 55px;
            color: $olive;
            line-height: 70px;
            margin-bottom: 70px;
            text-align: center;

            @include md {
                font-size: 30px;
                font-weight: 400;
                line-height: 40px;
                margin-bottom: 35px;
            }
        }
    }

    #feed {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;

        @include md {
            grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
        }
        max-width: 100%;

        .insta-item {

            img {
                display: block;
                width: 100%;
                height: 100%;
                margin: auto;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    &-inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;


        .area {
            color: $olive-half;
            text-align: center;
            width: 40%;

            @include md {
                width: 100%;
                padding: 0 5vw;
            }
            margin-bottom: 80px;
            margin-left: auto;
            margin-right: auto;

            img {
                height: 175px;
                width: auto;
                border: 1px solid $olive-half;
                border-radius: 50%;
            }

            .image-wrapper {
                margin-bottom: 60px;
            }

            a {
                text-decoration: none;

                h2 {
                    font-family: $julius, sans-serif;
                    font-size: 48px;
                    color: $olive;
                    margin-bottom: 30px;

                    @include sm {
                        font-size: 32px;
                    }
                }
            }

            a:hover {

                h2 {
                    color: $accent;
                }
            }

            p {
                font-size: 18px;
                font-weight: 300;
                font-family: $opensans, sans-serif;
                line-height: 32px;

                @include sm {
                    font-size: 16px;
                }
            }
        }
    }
}

.areas:before {
    position: absolute;
    content: '';
    display: block;
    height: 185px;
    width: 185px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -20%);
    border-radius: 50%;
    background: white;

    @include md {
        height: 150px;
        width: 150px;
    }
}