@import './../partials';

.quad {
    max-width: 3050px;
    max-height: 775px;
    height: 775px;
    @include md {
        height: auto;
        max-height: unset;
    }

    .quad-inner {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .row1, .row2 {
        display: flex;
        flex-direction: row;
        height: 50%;

        @include md {
            flex-direction: column;
            height: auto;
        }

        .first {
            flex: 1;
            
            img {
                width: 100%;
                object-fit: cover;
                object-position: center;
                height: 100%;
                display: block;
            }
        }

        .second {
            flex: 1;
            background: $olive-half;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            h4 {
                font-family: $cabin, sans-serif;
                font-size: 45px;
                font-weight: 700;
                line-height: 50px;
                margin-bottom: 64px;
                color: white;

                @include md {
                    margin-bottom: 20px;
                    font-size: 30px;
                    line-height: 30px;
                }
            }

            h3 {
                color: white;
                font-size: 14px;
                font-family: $cabin;
                font-weight: 700;
                line-height: 40px;
            }

            a {
                padding: 12px 30px;
                border: 1px solid white;
                font-size: 20px;
                font-weight: 700;
                font-family: $julius, sans-serif;
                line-height: 32px;
                text-decoration: none;
                color: white;
                display: inline-block;

                @include md {
                    padding: 6px 20px;
                }

                &:hover {
                    color: rgba(0,0,0, .3);
                    background: white;

                }

            }

        }

        .second {
            @include md {
                height: 240px;
                flex: unset;
            }
        }
    }

    .row2 {
        flex-direction: row-reverse;

        @include md {
            flex-direction: column;
        }

        .second {
            background: $secondary;
        }
    }

}