/* ------------------------------------------------------------ *\
	Layout
\* ------------------------------------------------------------ */

.full-width {
	width: 100vw;
	margin-left: calc((100vw - 100%) * (1/2));
}

body {
  background: url('')
}