//Slim CSS Reset courtesy of https://alligator.io/css/minimal-css-reset/
//
//NOTE: If you're not used to working with box-sizing: border-box it can be a major hinderance in the approach you take. 
//Consider reading more about it box-sizing at https://css-tricks.com/box-sizing/

html {
  box-sizing: border-box;
  font-size: 16px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

a:visited,
a {
  color: black;
}
